* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    padding: 1.5rem;
}

.wrapper {
    max-width: 1000px;
    margin: 0 auto;
}

p, h3 {
    line-height: 160%;
}

header {
    text-align: center;
    margin-bottom: 30px;
}

strong {
    font-weight: 900;
}

h1 {
    font-size: 96px;
    font-weight: 400;
    margin: 0;
}

header p {
    font-size: 24px;
    font-weight: 400;
    margin: 0;
}

nav {
    text-align: center;
    margin-bottom: 40px;
}

nav ul,
nav ul li {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;
}
nav a {
    background: #f2f2f2;
    padding: 15px 20px;
    margin: 10px;
    border-radius: 11px;
    text-decoration: none;
    color: #000;
    display: block;
}

nav a:hover {
    filter:brightness(80%)
}

.green {
    background: #345E47;
    color: #fff;
}

.blue {
    background: #4A4B6E;
    color: #fff;
}

.red {
    background: #784940;
    color: #fff;
}

.black {
    background: #000;
    color: #fff;
}

section {
    border-top: 10px solid #f2f2f2;
    margin-bottom: 80px;
}

 #about {
    border-color: #345E47;
}

#skillset {
    border-color: #4A4B6E;
}

#experience {
    border-color: #784940;
}

.back-to-top-button {
    position: fixed;
    bottom: 1.5rem;
    right: 1.5rem;
    display: inline-block;
    background: #f2f2f2;
    color: #000;
    padding: 15px 20px;
    border-radius: 11px;
    text-decoration: none;
    border: 1px solid #000;
}

.back-to-top-button:hover {
    background: #000;
    color: #fff;
    cursor: pointer;
}

@media (max-width: 650px) {
    body {
        font-size: 1rem;
    }
    h1 {
        font-size: 3rem
    }
    header p {
        font-size: 1.5rem;
    }
    section {
        margin-bottom: 40px;
    }
    nav ul,
    nav ul li {
        display: block;
    }
}